<header class="flex p-4 justify-between">
  <div class="bg-orange-300">Keto Logo</div>
  <nav>
    <ul class="flex gap-2">
      <li>
        <a routerLink="/">Home</a>
      </li>
      <li>
        <a routerLink="/recipes">Recipes</a>
      </li>
      <li>
        <a routerLink="/about">About</a>
      </li>
    </ul>
  </nav>
  <nav>
    <ul class="flex gap-2">
      <li>
        <a routerLink="/auth/login">Login</a>
      </li>
      <li>
        <a routerLink="/auth/register">Register</a>
      </li>
      <li>
        <a routerLink="/auth/profile">Profile</a>
      </li>
      <li>
        <a routerLink="/auth/logout">Logout</a>
      </li>
    </ul>
  </nav>
</header>
